@model FavoDeMel.Presentation.MVC.CatalogoViewModels.Venda.ViewModels.ComandaViewModel
@using FavoDeMel.Presentation.MVC.Services
@using FavoDeMel.Presentation.MVC.ViewModels

@inject IIdentityParser<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Detalhes da Comanda";
    var headerList = new List<Header>() {
          new Header() { Controller = "Mesa", Text = "Voltar" }};
}

<partial name="_Header" model="headerList" />

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div class="form-group">
        <label for="email"><b>Situação:</b></label>
        <p>@Model.ComandaStatus</p>
    </div>
    <div class="form-group">
        <label for="email"><b>Mesa:</b></label>
        <p>@Model.Mesa.Numero</p>
    </div>
    <div class="form-group">
        <label for="email"><b>Garçom:</b></label>
        <p>@User.Identity.Name</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <vc:summary />

            @{
                if (Model.Items.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Situação</th>
                                <th>Quantidade</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Valor Total</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="col-sm-5 col-md-5">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="media-heading">@item.ProdutoNome</h4>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="col-sm-5 col-md-5">
                                            <div class="media">
                                                <div class="media-body">
                                                    <p>@item.ItemStatus</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-sm-2 col-md-2" style="text-align: center">

                                            <form method="post" asp-controller="Comanda" asp-action="AtualizarItem">
                                                <input type="hidden" id="Id" name="Id" value="@item.ProdutoId" />
                                                <input type="hidden" id="MesaId" name="MesaId" value="@Model.Mesa.MesaId" />
                                                <input type="hidden" id="itemStatus" name="itemStatus" value="@item.ItemStatus" />
                                                <div class="row" style="float: left">
                                                    <input style="width: 70px" type="text" class="form-control" name="quantidade" id="quantidade" value="@item.Quantidade">
                                                </div>
                                                <div class="row" style="float: right">
                                                    <button type="submit" class="btn btn-dark" title="Atualizar quantidade">
                                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                        <td class="col-sm-1 col-md-1 text-center"><strong>@item.ValorUnitario.ToString("C")</strong></td>
                                        <td class="col-sm-1 col-md-1 text-center"><strong>@item.ValorTotal.ToString("C")</strong></td>

                                        <td class="col-sm-1 col-md-1">
                                            <form method="post" asp-controller="Comanda" asp-action="RemoverItem">
                                                <input type="hidden" id="Id" name="Id" value="@item.ProdutoId" />
                                                <input type="hidden" id="MesaId" name="MesaId" value="@Model.Mesa.MesaId" />
                                                <button type="submit" class="btn btn-danger" title="Excluir">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td><h5>Subtotal</h5></td>
                                <td class="text-right"><h5><strong>@Model.SubTotal.ToString("C")</strong></h5></td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td colspan="2">
                                </td>
                                <td><h5>Desconto</h5></td>
                                <td class="text-right"><h5><strong>@Model.ValorDesconto.ToString("C")</strong></h5></td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td>
                                    <h4>Total</h4>
                                </td>
                                <td class="text-right">
                                    <h4><strong>@Model.ValorTotal.ToString("C")</strong></h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center">

                        <a asp-controller="Vitrine" asp-action="Index" asp-route-mesaId="@Model.Mesa.MesaId" class="btn btn-dark">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar itens
                        </a>

                        @if (Model.ComandaStatus.Equals(ComandaStatus.Rascunho))
                        {
                            <a asp-controller="Comanda" asp-action="IniciarComanda" asp-route-mesaId="@Model.Mesa.MesaId" class="btn btn-dark">
                                <span class="glyphicon glyphicon-share-alt"></span> Enviar para cozinha
                            </a>
                        }

                        <a asp-controller="Comanda" asp-action="ResumoDaCompra" asp-route-mesaId="@Model.Mesa.MesaId" class="btn btn-dark">
                            <span class="glyphicon glyphicon-ok-circle"></span> Fechar comanda
                        </a>

                        <a asp-controller="Comanda" asp-action="ResumoDaCompraCancelar" asp-route-mesaId="@Model.Mesa.MesaId" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancelar comanda
                        </a>

                    </div>


                }
                else
                {
                    <div class="alert alert-warning text-center">

                        <p>Comanda Vazia</p>

                        <a asp-controller="Vitrine" asp-action="Index" asp-route-mesaId="@Model.Mesa.MesaId" class="btn btn-dark">
                            <span class="glyphicon glyphicon-plus-sign"></span> Adicionar Itens
                        </a>

                        <a asp-controller="Comanda" asp-action="ResumoDaCompra" asp-route-mesaId="@Model.Mesa.MesaId" class="btn btn-dark">
                            <span class="glyphicon glyphicon-ok-circle"></span> Fechar comanda
                        </a>

                    </div>
                }
            }
        </div>
    </div>
</div>