@model FavoDeMel.Presentation.MVC.CatalogoViewModels.Venda.ViewModels.ComandaViewModel
@using FavoDeMel.Presentation.MVC.Services
@using FavoDeMel.Presentation.MVC.ViewModels

@inject IIdentityParser<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Detalhes da Comanda";
    var headerList = new List<Header>() {
          new Header() { Controller = "Vitrine", Text = "Voltar" }};
}

<partial name="_Header" model="headerList" />

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <div class="form-group">
        <label for="email"><b>Cliente:</b></label>
        <p>@Model.ClienteId</p>
    </div>
    <div class="form-group">

        @if (User.Identity.IsAuthenticated)
        {
            <label for="email"><b>Perfil:</b></label>
            <p>@User.Identity.Name</p>
        }
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <vc:summary />

            @{
                if (Model.Items.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Situação</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="col-sm-5 col-md-5">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a asp-controller="Vitrine" asp-action="ProdutoDetalhe" asp-route-id="@item.ProdutoId">@item.ProdutoNome</a></h4>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="col-sm-2 col-md-2" style="text-align: center">
                                            @item.Quantidade
                                        </td>

                                        <td class="col-sm-3 col-md-2" style="text-align: center">
                                            <form method="post" asp-controller="Comanda" asp-action="AtualizarItem">
                                                <input type="hidden" id="Id" name="Id" value="@item.ProdutoId" />
                                                <input type="hidden" id="quantidade" name="quantidade" value="@item.Quantidade" />
                                                <div class="row" style="float: left">
                                                    <select id="itemStatus" name="itemStatus" asp-for="@item.ItemStatus" asp-items="Html.GetEnumSelectList<FavoDeMel.Presentation.MVC.ViewModels.VendaViewModels.Enuns.ItemStatus>()">@item.ItemStatus</select>
                                                </div>
                                                <div class="row" style="float: right">
                                                    <button type="submit" class="btn btn-success">
                                                        <span class="fas fa-sync"></span>
                                                    </button>
                                                </div>
                                            </form>
                                        </td>

                                        <td class="col-sm-3 col-md-3">
                                            <form method="post" asp-controller="Comanda" asp-action="RemoverItem">
                                                <input type="hidden" id="Id" name="Id" value="@item.ProdutoId" />
                                                <button type="submit" class="btn btn-danger">
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }


                            <tr>
                                <td>

                                    <a asp-controller="Comanda" asp-action="ResumoDaCompra" class="btn btn-success">
                                        <span class="fas fa-play"></span><br /> Finalizar Comanda
                                    </a>

                                    <a asp-controller="Comanda" asp-action="ResumoDaCompraCancelar" class="btn btn-danger">
                                        <span class="fas fa-trash-alt"></span><br /> Cancelar Comanda
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <div><p>Comanda Vazia</p></div>
                }
            }
        </div>
    </div>
</div>