@model FavoDeMel.Presentation.MVC.ViewModels.CatalogoViewModels.IndexViewModel

@{
    ViewData["Title"] = "Catálogo de produtos";
}

<div class="container">

    <h3>@ViewData["Title"]</h3>
    <div class="form-group">
        <label for="email"><b>Mesa:</b></label>
        <p>@Model.Mesa.Numero</p>
    </div>
    <div class="form-group">
        <label for="email"><b>Garçom:</b></label>
        <p>@User.Identity.Name</p>
    </div>

    @if (Model.CatalogoItens.Count() > 0)
    {
        <partial name="_paginacao" for="PaginacaoInfo" />

        <div class="esh-catalog-items row">
            @foreach (var catalogoItem in Model.CatalogoItens)
            {
                <div class="esh-catalog-item col-md-4">
                    <img class="esh-catalog-thumbnail" src="~/images/@catalogoItem.Imagem" />
                    <a class="esh-catalog-button" asp-controller="Vitrine" asp-action="ProdutoDetalhe"
                       asp-route-id="@catalogoItem.Id" asp-route-mesaId="@Model.Mesa.MesaId">[ + COMANDA ]</a>

                    <div class="esh-catalog-name">
                        <span>@catalogoItem.Nome</span>
                    </div>
                    <div class="esh-catalog-price">
                        <span>@catalogoItem.Valor.ToString("C")</span>
                    </div>
                </div>
            }
        </div>

        <partial name="_paginacao" for="PaginacaoInfo" />
    }
    else
    {
        <div class="esh-catalog-items row">
            NENHUM RESULTADO NO CRITÉRIO DA CONSULTA
        </div>
    }
</div>
